<h1>Pirate:</h1>
  Name: <%= @pirate.name %>
  Weight: <%= @pirate.weight %>
  Height: <%= @pirate.height %>

<h2>Pirate's ships</h2>
  <% @ships.each do |ship| %>
    Name: <%= ship.name %><br>
    Type: <%= ship.type %><br>
    Booty: <%= ship.booty %><br>

  <% end %>

