<h1>Display your Pirate here</h1>
Name: <%=@pirate.name%><br>
Weight: <%=@pirate.weight%><br>
Height: <%=@pirate.height%><br>
<h2>Display your first ship here</h2>
First Ship Name: <%=@pirate.ships[0]%><br>

<h2>Display your second ship here</h2>
Second Ship Name: <%=@pirate.ships[1]%><br>