<h1> Pirates </h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3>
  <h3>Weight: <%= @pirate.weight %> pounds</h3>
  <h3>Height: <%= @pirate.height %> inches</h3>
</div>

  <h1> Ships </h1>

  <% @ships.each do |ship| %>
    <div class="ship">
      <p>Name: <%= ship.name %></p>
      <p>Type: <%= ship.type %></p>
      <p>Booty: <%= ship.booty %></p>
    </div>
  <% end %>
