<h1>Pirate name: <%= @pirate.name%></h1>
<h1>Pirate weight: <%= @pirate.weight%></h1>
<h1>Pirate height: <%= @pirate.height%></h1>

<% @ships.each do |ship| %>
    <h2>Ship name: <%= ship.name %></h2>
    <h2>Ship type:<%= ship.type %></h2>
    <h2>Ship booty:<%= ship.booty %></h2>
<% end %>
