<h1>Pirate</h1>

<div class="pirate">
<h3>Name:<%= @pirate.name %></h3>
<h4>Weight:<%= @pirate.weight %></h4>
<h4>Height:<%= @pirate.height %></h4><br>
</div>

<h1>Ships</h1>
<div class="ship">
<% @ships.each do |ship| %><br>
Name: <%= ship.name %><br>
Type: <%= ship.type %><br>
Booty: <%= ship.booty %><br>
</div>
<% end %>
