<h1>Here's your custom Pirate!</h1>
<div class="pirate">
<%= @pirate.name%><br>
<%= @pirate.height%><br>
<%= @pirate.weight%>
</div>


<h2>Here's your custom Ship info!</h2>
<div class="ship">
<% @ships.each do |vessel|%>
  <%= vessel.name%><br>
  <%= vessel.type%><br>
  <%= vessel.booty%>
<% end %>
</div>