<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirates! Form</title>
  </head>
  <body>

    <div class="pirate">
      <h1>Pirate Name: <%= @pirate.name %></h1>
      <h1>Pirate Weight: <%= @pirate.weight %></h1>
      <h1>Pirate Height: <%= @pirate.height %></h1>
    </div><br><br>

    <div class="ship">
      <% @ships.each do |ship| %>
      <h2>Ship Name: <%= ship.name %></h2>
      <h2>Ship Type: <%= ship.type %></h2>
      <h2>Ship Booty: <%= ship.booty %></h2><br><br>
      <% end %>
    </div>

  </body>
</html>