<div id="show">
  <div class="show_p">
    <p id="pirate_heading"><%= @pirate.name %></p>
    <p>Weight: <%= @pirate.weight %></p>
    <p>Height: <%= @pirate.height %></p>    
  </div>
  
  <div class="show_s">
    <% i=0 %>
    <% @ships.each do |s| %>
      <p>Ship <%= "#{i+1}" %> Name: <%= s.name %></p>
      <p>Type: <%= s.type %></p>
      <p>Booty: <%= s.booty %></p>
      <% i+=1 %>
    <% end %>  
  </div>
</div>





