<h1>Pirates: </h1>
  <% @pirates.each do |pirate| %>
    <p><%= pirate.name %></p>
    <p><%= pirate.weight %></p>
    <p><%= pirate.height %></p>
      <h2>Ships: </h2>
      <% pirate.ships.each do |ship| %>
        <p><%= ship.name %></p>
        <p><%= ship.type %></p>
        <p><%= ship.booty %></p>
      <% end %>
  <% end %>
