<h1>Pirate</h1>
<div class="pirate">
  <h4>Name: <%= @pirate.name %></h4>
  <p>Weight: <%= @pirate.weight %></p>
  <p>Height: <%= @pirate.height %></p>
</div>

<h1>Ships</h2>
<% @ships.each do |ship| %>
  <div class="class">
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
    
  </div>
<% end %>
