<h1>Display your Pirate here</h1>
Name: <%= pirate[name] %><br />
Weight: <%= pirate[weight] %><br />
Height: <%= pirate[height] %><br /><br />


<h2>Display your first ship here</h2>
Name: <%= pirate[ship][][name] %><br />
Weight: <%= pirate[ship][][weight] %><br />
Height: <%= pirate[ship][][height] %><br /><br />

<h2>Display your second ship here</h2>
Name: <%= pirate[ship][][name] %><br />
Weight: <%= pirate[ship][][weight] %><br />
Height: <%= pirate[ship][][height] %><br /><br />

