
  <h1>Display your Pirate here</h1>
  <div>
  <p>Name: <%= @pirate.name %></p>
  <p>Weight: <%= @pirate.weight %></p>
  <p>Height: <%= @pirate.height %></p>
  </div><br>

  <% @ships.each do |ship| %>
    <div class="class">
    <h2>Ship Name: <%= ship.name %></h2>
    <h3>Ship Type: <%= ship.type %></h3>
    <h3>Ship Booty: <%= ship.booty %></h3>
    </div><br>
  <% end %>
