<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Yarr Pirates!</title>
  </head>
  <body>
    <h1>Pirate Name: <%= @pirate.name %></h1>
    <p> Weight: <%= @pirate.weight %></p>
    <p> Height: <%= @pirate.height %></p>
    <br><br>
    <% @ships.each.with_index(1) do |ship, index| %>
      <h1><%= "Here is Ship Number #{index}!" %></h1>
      <h2>Ship Name: <%= ship.name %></h2>
      <h2>Ship Type: <%= ship.type %></h2>
      <h2>Ship Booty: <%= ship.booty %></h2>
      <br>
    <% end %>
  </body>
</html>
