<h1>Display your Pirate here</h1>

<p><%= @pirate.name %></p>
<p><%= @pirate.weight %></p>
<p><%= @pirate.height %></p>

  <h2>Display your first ship here</h2>

<p><%= @ships.first.name %></p>
<p><%= @ships.first.type %></p>
<p><%= @ships.first.booty %></p>

  <h2>Display your second ship here</h2>

<p><%= @ships.last.name %></p>
<p><%= @ships.last.type %></p>
<p><%= @ships.last.booty %></p>
