<h1><%= @pirate.name %></h1>
<h2>Ships</h2>
<ul>
  <% @pirate.ships.each_with_index do |ship, index| %>
  <li> Ship No. <%= index+= 1%></li>
  <li> Ship Name: <%= ship.name %></li>
  <li> Ship Category: <%= ship.category %></li>
  <li> Ship Booty: <%= ship.booty %></li>
  </br>
  <% end %>
</ul>
