<h1>Display your Pirate here</h1>

<h2>Pirate Name: <%=@pirate.name%> <h2>
<h2>Pirate Weight: <%=@pirate.weight%> <h2>
<h2>Pirate Height: <%=@pirate.height%> <h2>

<h2>Display your first ship here</h2>
<h3>Ship Name: <%=@pirate.ships.first.name%> <h3>
<h3>Ship Type: <%=@pirate.ships.first.type%> <h3>
<h3>Ship Booty: <%=@pirate.ships.first.booty%> <h3>


<h2>Display your second ship here</h2>
<h3>Ship Name: <%=@pirate.ships.last.name%> <h3>
<h3>Ship Type: <%=@pirate.ships.last.type%> <h3>
<h3>Ship Booty: <%=@pirate.ships.last.booty%> <h3>
