<div class="pirate">
  Pirate Name: <%= @pirate.name %> <br />
  Pirate Height: <%= @pirate.height %> <br />
  Pirate Weight: <%= @pirate.weight %> <br/>
</div>

<% @ships.each do |boat| %>
  <div class="boat">
    Ship Name: <%= boat.name %> <br />
    Ship Type: <%= boat.type %> <br />
    Ship Booty: <%= boat.booty %> <br />
  </div>
<% end %>
