<h1>Display your Pirate here</h1>

	<p>Pirate Name: <%=@pirate.name%></p>
	<p>Pirate Weight: <%=@pirate.weight%></p>
	<p>Pirate Height: <%=@pirate.height%></p>

<h2>Display your first ship here</h2>

	<p>Ship Name: <%=Ship.all[-2].name%></p>
	<p>Ship Type: <%=Ship.all[-2].type%></p>
	<p>Ship Booty: <%=Ship.all[-2].booty%></p>

<h2>Display your second ship here</h2>

	<p>Ship Name: <%=Ship.all[-1].name%></p>
	<p>Ship Type: <%=Ship.all[-1].type%></p>
	<p>Ship Booty: <%=Ship.all[-1].booty%></p>