<h1>PIRATE:</h1>
Name: <%= @pirate.name %><br>
Pirate Weight: <%= @pirate.weight %><br>
Pirate Height: <%= @pirate.height %><br><br>




<h2>SHIPS:</h2>
Name: <%= @ships[0].name %><br>
Type: <%= @ships[0].type %><br>
Booty: <%= @ships[0].booty %><br>
<br>

Name: <%= @ships[1].name %><br>
Type: <%= @ships[1].type %><br>
Booty: <%= @ships[1].booty %>
