<h1>pirate</h1>
<h2>Name: <%=@pirate[:name]%></h2>
<h2>Weight: <%=@pirate[:weight]%></h2>
<h2>Height: <%=@pirate[:height]%></h2>

<h1>ships</h1> <h2><%=@pirate[ships][][name]%></h2>
<h2><%=@pirate[ships][][type]%></h2>
<h2><%=@pirate[ships][][booty]%></h2>

<h2><%=@pirate[ships][][name]%></h2>
<h2><%=@pirate[ships][][type]%></h2>
<h2><%=@pirate[ships][][booty]%></h2>
