<h1>Pirate</h1>
<div class = "pirate">
  <p>Name: <%= @pirate.name %></p>
  <p>Weight: <%= @pirate.weight %></p>
  <p>Height: <%= @pirate.height %></p><br>
</div>
<h2>Ships</h2>
<ul>
  <% @pirate.ships.each do |ship| %>
  <div class = "ship">
    <li>Name: <%= ship.name %></li>
    <li>Type: <%= ship.category %></li>
    <li>Booty: <%= ship.booty %></li><br>
  </div>
  <% end %>
</ul>
