<h1>Pirate</h1>
<div class="pirate">
  <h3>Pirate Name: <%= @pirate.name %> </h3>
  <h4>Pirate Weight: <%=@pirate.weight %> </h4>
  <h4>Pirate Height: <%=@pirate.height %> </h4>
</div><br>


<h2>Ships: </h2>
<% @ships.each do |ship| %>
  <div class="ship">
    <h3>Ship Name: <%= ship.name %> </h3>
    <h4>Ship Type: <%= ship.type %> </h4>
    <h4>Ship Booty: <%= ship.booty %> </h4>
  </div><br>
<% end %>
