<h1>Pirate</h1>
<h2>Name: <%= @pir.name%></h2><br>
<h2>Weight: <%= @pir.weight%> pounds</h2><br>
<h2>Height: <%= @pir.height%> inches</h2><br>


<h1>Ships</h1>
<% @ships.each do |ship| %>
<p>Name: <%= ship.name %></p><br>
<p>Type: <%= ship.type %></p><br>
<p>Booty: <%= ship.booty %></p><br>
<% end %>
