<h1>Display your Pirate here</h1>
<div>
  <div>
    <p>Pirate Name: <%=@pirate.name%></p>
  </div>
  <div>
    <p>Pirate Weight: <%=@pirate.weight%></p>
  </div>
  <div>
    <p>Pirate Height: <%=@pirate.height%></p>
  </div>
</div>

<h2>Display your first ship here</h2>
<div>
  <p>Ship Name: <%=@ships[0].name %></p>
  <p>Ship Type: <%=@ships[0].type%></p>
  <p>Ship Booty: <%=@ships[0].booty %></p>
</div>

<h2>Display your second ship here</h2>
<div>
  <p>Ship Name: <%=@ships[1].name%></p>
  <p>Ship Type: <%=@ships[1].type%></p>
  <p>Ship Booty: <%=@ships[1].booty%></p>
</div>