<h2>Pirate:</h2>
<p>Name: <%= @pirate.name %></p>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>

<% @ships.each_with_index do |ship, index| %>
  <h2>Ship <%= index + 1 %>:</h2>
  <p>Name: <%= ship.name %></p>
  <p>Type: <%= ship.type %></p>
  <p>Booty: <%= ship.booty %></p>
<% end %>
