<h1>Display your Pirate here <%=@pirate.name%>, <%=@pirate.height%>, <%=@pirate.weight%></h1>


<h2>Display your first ship here <%=@ships[0].name%>, <%=@ships[0].type%>, <%=@ships[0].booty%></h2>


<h2>Display your second ship here <%=@ships[1].name%>, <%=@ships[1].type%>, <%=@ships[1].booty%></h2>
