<!DOCTYPE html>

<h1>Display your Pirate here</h1>

<p> <%= "\n" + @pirate.name %></p>
<p> <%= "\n" + @pirate.height %></p>
<p> <%= "\n" + @pirate.weight %></p>

<h2>Display your first ship here</h2>

<p> <%= "\n" + @ships[0].name %></p>
<p> <%= "\n" + @ships[0].type %></p>
<p> <%= "\n" + @ships[0].booty %></p>

<h2>Display your second ship here</h2>

<p> <%= "\n" + @ships[1].name %></p>
<p> <%= "\n" + @ships[1].type %></p>
<p> <%= "\n" + @ships[1].booty %></p>
