


<h1>Display your Pirate here</h1>

<h2>Pirate Name: <%=@pirate.name%></h2>
<h2>Pirate Height: <%=@pirate.height%></h2> 
<h2>Pirate Weight: <%=@pirate.weight%></h2>

<h2>Ship Name: <%=@ship_name_1%></h2>
<h2>Ship Type: <%=@ship_type_1%></h2>
<h2>Ship Booty: <%=@ship_booty_1%></h2>

<h2>Ship Name: <%=@ship_name_2%></h2>
<h2>Ship Type: <%=@ship_type_2%></h2>
<h2>Ship Booty: <%=@ship_booty_2%></h2>