<ul>
<li>Name: <%= @pirate.name %></li>
<li>Weight: <%= @pirate.weight %></li>
<li>Height: <%= @pirate.height %></li>
</ul>

<ul>
<li>Name: <%=@ships[0].name %></li>
<li>Type: <%=@ships[0].type %></li>
<li>Booty:<%=@ships[0].booty %> </li>
</ul>

<ul>
<li>Name: <%=@ships[1].name %></li>
<li>Type: <%=@ships[1].type %></li>
<li>Booty:<%=@ships[1].booty %> </li>
</ul>