<h1>Display your Pirate here</h1>
<p>Pirate Name: <%= @pirate.name%></p>
<p>Pirate Weight: <%= @pirate.height%></p>
<p>Pirate Height: <%= @pirate.weight%></p>

<h2>Display your first ship here</h2>
<p>First Ship's Name: <%= @ship1.name%></p>
<p>First Ship's Type: <%= @ship1.type%></p>
<p>First Ship's Booty: <%= @ship1.booty%></p>


<h2>Display your second ship here</h2>
<p>Second Ship's Name: <%= @ship2.name%></p>
<p>Second Ship's Type: <%= @ship2.type%></p>
<p>Second Ship's Booty: <%= @ship2.booty%></p>
