<h1><%= @pirate.name %></h1>

<p>
  Height: <%= @pirate.height %>
</p>

<p>
  Weight: <%= @pirate.weight %>
</p>

<% @ships.each do |ship| %>
  <p>
    Name: <%= ship.name %>
  </p>
  <p>
    Type: <%= ship.type %>
  </p>
  <p>
    Booty: <%= ship.booty %>
  </p>
<% end %>