<div class="pirates">
  <h1>Here is your pirate!</h1>
  <h4>Name: <%= @pirate.name%></h3>
  <h4>Weight: <%= @pirate.weight%></h4>
  <h4>Height: <%= @pirate.height%></h4>
</div><br>

<h1>Ships</h1>
<% @ships.each do |s|%>
<div class="ships">
  <p>Name: <%=s.name%></p>
  <p>Type: <%=s.type%></p>
  <p>Booty: <%=s.booty%></p><br>
</div>
<% end %>

<a href="/new">Go Back And Create Another</a>
