<h1>Pirate</h1>
Name: <%= @pirate.name %>
Weight: <%= @pirate.weight %>
Height: <%= @pirate.height %>


<h1>Ships</h1>
<% @ships.each do |s| %>
  Name: <%= s.name %>
  Type: <%= s.type %>
  Booty: <%= s.booty %>
  <br><br>
<% end %>
