<h1>Pirate</h1>
   <h2>Pirate name:<%=Pirate.all.last.name%></h2>
   <h2>Pirate weight:<%=Pirate.all.last.weight%></h2>
   <h2>Pirate height:<%=Pirate.all.last.height%></h2>

   <%Ship.all.each.with_index {|ship,index|%>
     <h1>Ship <%=index%></h1>
     <h2>Ship name:<%=ship.name%></h2>
     <h2>Ship type:<%=ship.type%></h2>
     <h2>Ship booty:<%=ship.booty%></h2>
   <%}%>
