<h1>Display your Pirate here</h1>

  <p>Name: <%= @pirate.name %></p>
  <p>Weight: <%= @pirate.weight %></p>
  <p>Height: <%= @pirate.height %></p>

<h2>Display your first ship here</h2>
  <p>Name: <%= Ship.all[0].name %></p>
  <p>Type: <%= Ship.all[0].type %></p>
  <p>Booty: <%= Ship.all[0].booty %></p>

<h2>Display your second ship here</h2>
  <p>Name: <%= Ship.all[1].name %></p>
  <p>Type: <%= Ship.all[1].type %></p>
  <p>Booty: <%= Ship.all[1].booty %></p>
