<!DOCTYPE html>
<html>
  <head>
    <title>Create a Pirate and Ships</title>
  </head>
  <body>
    <h1>Pirate</h1>

    Pirate Name: <%= @pirate.name %><br />
    Pirate Weight: <%= @pirate.weight %><br />
    Pirate Height: <%= @pirate.height %><br />

    <h2>Ship 1</h2>

    Ship Name: <%= @ship1.name %><br />
    Ship Type: <%= @ship1.type %><br />
    Ship Booty: <%= @ship1.booty %><br />

    <h2>Ship 2</h2>

    Ship Name: <%= @ship2.name %><br />
    Ship Type: <%= @ship2.type %><br />
    Ship Booty: <%= @ship2.booty %><br />
  </body>
</html>
