<h1>Pirate Name <%= @pirate.name %></h1><br>
<h1>Pirate Weight <%= @pirate.weight %></h1><br>
<h1>Pirate Height <%= @pirate.height %></h1><br>
<br>

<% @ships.each { |ship| %>
<h2>Ship Name <%= ship.name %></h2>
<h2>Ship Type <%= ship.type %></h2>
<h2>Ship Booty <%= ship.booty %></h2>
<br>
<% } %>




