<h1>Here is your Pirate</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>

<h2>Here is your first ship</h2>
<p>Ship Name: <%= @ships[0].name %></p>
<p>Ship Type: <%= @ships[0].type %></p>
<p>Ship Booty: <%= @ships[0].booty %></p>

<h2>Here is your second ship</h2>
<p>Ship Name: <%= @ships[1].name %></p>
<p>Ship Type: <%= @ships[1].type %></p>
<p>Ship Booty: <%= @ships[1].booty %></p>
