<html>
<h1>Display your Pirate here</h1>
<h3>Pirate name: <%= @pirate.name %></h3><br>
<h3>Pirate weight: <%= @pirate.weight %></h3><br>
<h3>Pirate height: <%= @pirate.height %></h3><br>

<h2>Display your first ship here</h2>
<h3>Ship one name: <%= @ship_1.name %></h3><br>
<h3>Ship one type: <%= @ship_1.type %></h3><br>
<h3>Ship one booty: <%= @ship_1.booty %></h3><br>

<h2>Display your second ship here</h2>
<h3>Ship two name: <%= @ship_2.name %></h3><br>
<h3>Ship two type: <%= @ship_2.type %></h3><br>
<h3>Ship two booty: <%= @ship_2.booty %></h3><br>

</html>
