<h1>Display your Pirate here</h1>
<br>
<h4>Pirate info</h4>
<p>Name: <%= @pirate.name %></p>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>
<br><br>
<h2>Display your first ship here</h2>
<br>
<h4>Ship 1</h4>
<p>Name: <%= @ship1.name %></p>
<p>Type: <%= @ship1.type %></p>
<p>Booty: <%= @ship1.booty %></p>
<br><br>
<h2>Display your second ship here</h2>
<br>
<h4>Ship 2</h4>
<p>Name: <%= @ship2.name %></p>
<p>Type: <%= @ship2.type %></p>
<p>Booty: <%= @ship2.booty %></p>
