<h1>Pirate</h1>
<p>Name: <%= @pirate.name %></p>
<p>Height: <%= @pirate.height %></p>
<p>Weight: <%= @pirate.weight %></p>


<% @ships.each do |ship| %>
  <h2><% if ship == @ships[0] %>
      First
     <% else %>
     Second
     <% end %>
     Ship</h2>

  <p>Name: <%= ship.name %></p>
  <p>Type: <%= ship.type %></p>
  <p>Booty: <%= ship.booty %></p>
<% end %>
