<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Pirate Generator</title>
</head>
<body>
<h1>New Pirate Created</h1>

<h4><%=@pirate.name%>
<%=@pirate.weight%>
<%=@pirate.height%>
<%=@ships[0].name%> <%=@ships[0].type%> <%=@ships[0].booty%>
  <%=@ships[1].name%> <%=@ships[1].type%> <%=@ships[1].booty%></h4>

</body>
</html>
