<h1>Pirate Name:</h1>
  <p><%= @pirate.name %><p>
  <p><%= @pirate.weight %><p>
  <p><%= @pirate.height %><p>
  <br>
<h1>The Ships:</h1>
  <br>
<% @ships.each do |ship| %>
  <h2>Name: <%= ship.name %></h2>
  <br>
  <h2>Type: <%= ship.type %></h2>
  <br>
  <h2>Booty: <%= ship.booty %></h2>
<% end %>
