<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Pirate Name: <%= @pirate.name %></h1>
    <h1>Pirate Weight: <%= @pirate.weight %></h1>
    <h1>Pirate Height: <%= @pirate.height %></h1>

    <h2>Ship Name:<%= @ship[0].name %></h2>
    <h2>Ship Type:<%= @ship[0].type %></h2>
    <h2>Ship Booty:<%= @ship[0].booty %></h2>

    <h2>Ship Name:<%= @ship[1].name %></h2>
    <h2>Ship Type:<%= @ship[1].type %></h2>
    <h2>Ship Booty:<%= @ship[1].booty %></h2>

  </body>
</html>
