<h1>Pirate Informations</h1>
    <p><%= @pirate.name %></p>
    <p><%= @pirate.weight %></p>
    <p><%= @pirate.height %></p>

<h1>First Ship Informations</h1>
    <p><%= @ships.first.name %></p>
    <p><%= @ships.first.type %></p>
    <p><%= @ships.first.booty %></p>

<h1>Second Ship Informations</h1>
    <p><%= @ships.last.name %></p>
    <p><%= @ships.last.type %></p>
    <p><%= @ships.last.booty %></p>

    