<h1>Pirate</h1>
<div class="pirate">
    <h3>Name: <%= @pirate.name %></h3>
    <h3>Weight: <%= @pirate.weight %></h3>
    <h3>Height: <%= @pirate.height %></h3>
</div>

<h2>Primary ship</h2>
<div class="ship">
    <p>Name: <%=@ships.first.name%></p>
    <p>Type: <%=@ships.first.type%></p>
    <p>Booty: <%=@ships.first.booty%></p>
</div>


<h2>Secondary ship</h2>
<div class="ship">
    <p>Name: <%=@ships[1].name%></p>
    <p>Type: <%=@ships[1].type%></p>
    <p>Booty: <%=@ships[1].booty%></p>
</div>
