<h1>Pirate:</h1>
  <p><%= @pirate.name %></p>
  <p><%= @pirate.weight %></p>
  <p><%= @pirate.height %></p>

<h2>Ships:</h2>
  <% @ships.each do |s| %>
    <p>Ship Name: <%= s.name %></p>
    <p>Ship Type: <%= s.type %></p>
    <p>Ship Booty: <%= s.booty %></p>
  <% end %>
