<div id="show">
  <div class="show_p">
    <p id="pirate_heading"><%= @pirate.name %></p>
    <p>Weight: <%= @pirate.weight %></p>
    <p>Height: <%= @pirate.height %></p>    
  </div>
  
  <div class="show_s">
    <% @ships.each do |s| %>
      <p><%= s.name %></p>
      <p><%= s.type %></p>
      <p><%= s.booty %></p>
    <% end %>  
  </div>
</div>





