<h1>Pirate</h1>

  <h3>Name: <%= @pirate.name %></h3>
  <h4>Weight: <%= @pirate.weight %> pounds</h4>
  <h4>Height: <%= @pirate.height %> inches</h4>

<h1>Ships</h1>


  <% @ships.each do |ship| %> 
  <ul>
  <li>Ship Name: <%= ship.name %></li>
  <li>Ship Type: <%= ship.type %></li>
  <li>Ship Booty: <%= ship.booty %></li>
  </ul>
<% end %>






