
<h1>Pirate: </h1>
 <div>
  <h2>Name: <%= @pirate.name %></h2>
  <h3>Weight: <%= @pirate.weight %></h3>
  <h3>Height: <%= @pirate.height %></h3>
 </div>

<h1>Ships: </h1>

<div>
  <% @ships.each do |one| %>
    <h2>Name: <%= one.name %></h2>
    <h3>Type: <%= one.type %></h3>
    <h3>Booty: <%= one.booty %></h3>
  <% end %>
</div>


