<h1>Pirate</h1>

<h3>Pirate Name: <%= @pirate.name %></h3>
<h3>Pirate Weight: <%= @pirate.weight %> lbs</h3>
<h3>Pirate Height: <%= @pirate.height %> inches</h3>


<h1>Ships</h1>
<% @ships.each do |ship| %>
<p>Name: <%= ship.name %></p>
<p>Type: <%= ship.type %></p>
<p>Booty: <%= ship.booty %></p>
<% end %>
