<h1>Your Pirate!</h1>

<div class = "pirate">
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>
</div>

<h2>Ship #1</h2>

<div class = "ship">
<p>Ship Name: <%= @ships[0].name %></p>
<p>Ship Type: <%= @ships[0].type %></p>
<p>Ship Booty: <%= @ships[0].booty %></p>

<h2>Ship #2</h2>
<p>Ship Name: <%= @ships[1].name %></p>
<p>Ship Type: <%= @ships[1].type %></p>
<p>Ship Booty: <%= @ships[1].booty %></p>
</div>
