<h1> Pirate Name: <%= @pirate.name %> </h1>
<h3> Pirate Weight: <%= @pirate.weight %> </h3>
<h3> Pirate Height: <%= @pirate.height %> </h3>
<br>

<h1> First Ship Name: <%= @ships.first.name %> </h1>
<h3> First Ship Type: <%= @ships.first.type %> </h3>
<h3> First Ship Booty: <%= @ships.first.booty %> </h3>
<br>

<h1> Second Ship Name: <%= @ships.last.name %> </h1>
<h3> Second Ship Type: <%= @ships.last.type %> </h3>
<h3> Second Ship Booty: <%= @ships.last.booty %> </h3>