<h1>Display your Pirate here</h1>
<p><strong>Pirate name: </strong><%=@pirate.name %></p>
<p><strong>Pirate weight: </strong><%=@pirate.weight %></p>
<p><strong>Pirate height: </strong><%=@pirate.height %></p>

<h2>Display your first ship here</h2>
<p><strong>Ship 1 name: </strong><%=@ships[0].name %></p>
<p><strong>Ship 1 type: </strong><%=@ships[0].type %></p>
<p><strong>Ship 1 booty: </strong><%=@ships[0].booty %></p>

<h2>Display your second ship here</h2>
<p><strong>Ship 2 name: </strong><%=@ships[1].name %></p>
<p><strong>Ship 2 type: </strong><%=@ships[1].type %></p>
<p><strong>Ship 2 booty: </strong><%=@ships[1].booty %></p>