<h1>Display your Pirate here</h1>
  <h3>Name: <%= @pirate[:name].to_s %></h3>
  <h4>Weight: <%= @pirate[:weight].to_s %></h4>
  <h4>Height: <%= @pirate[:height].to_s %></h4>

<h2>Display your first ship here</h2>
  <h3>Name: <%= @ship1[:name].to_s %></h3>
  <h4>Weight: <%= @ship1[:type].to_s %></h4>
  <h4>Height: <%= @ship1[:booty].to_s %></h4>

<h2>Display your second ship here</h2>
  <h3>Name: <%= @pirate[:name].to_s %></h3>
  <h4>Weight: <%= @pirate[:type].to_s %></h4>
  <h4>Height: <%= @pirate[:booty].to_s %></h4>