<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Pirate Registry</title>
 </head>
 <body>
<div class = "pirate">
  <h1>Pirate Name: <%= @pirate.name %></h2><br>
  <p>Pirate Weight: <%= @pirate.weight %></p><br>
  <p>Pirate Height: <%= @pirate.height %></p><br>
</div>

<% @ships.each do |ship| %>
  <div class = "ship">
    <h1>Ship: <%= ship.name %></h1><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
  </div><br>
<% end %>



</body>
</html>
