<h1>Display your Pirate here</h1>
<h3>Pirate Name: <%= @pirate.name %></h3>
<h3>Pirate Weight: <%= @pirate.weight %></h3>
<h3>Pirate Height: <%= @pirate.height %></h3>


<h2>Display your first ship here</h2>
<h3>Ship Name: <%= @ships.first.name %></h3>
<h3>Ship Type: <%= @ships.first.type %></h3>
<h3>Ship Booty: <%= @ships.first.booty %></h3>

<h2>Display your second ship here</h2>
<h3>Ship Name: <%= @ships.last.name %></h3>
<h3>Ship Type: <%= @ships.last.type %></h3>
<h3>Ship Booty: <%= @ships.last.booty %></h3>
