<h1>Pirates</h1>
  <div class="pirates">
    <h2>Pirate name: <%= @pirate.name %></h2>
    <h4>Pirate weight: <%= @pirate.weight %></h4>
    <h4>Pirate height: <%= @pirate.height %></h4>
  </div>

<h2>Ships</h2>
<%= @ships.each do |ship| %>
  <div class="ships">
    <h4><%= ship.name %></h4>
    <h4><%= ship.type %></h4>
    <h4><%= ship.booty %></h4>
  </div> <br><br>
<% end %>
