<h1>Pirate</h1>
<p>Pirate's Name: <%= @pirate.name %></p>
<p>Pirate's Weight: <%= @pirate.weight %></p>
<p>Pirate's Height: <%= @pirate.height %></p>

<% @ships.each do |ship| %>
  <h2>Ship</h2>
  <p>Ship Name: <%= ship.name %></p>
  <p>Ship Type: <%= ship.type %></p>
  <p>Ship Booty: <%= ship.booty %></p>
<% end %>
