<h1>Display your Pirate here</h1>
<p>Pirate name:<%=@pirate_info.name%></p>
<p>Pirate height:<%=@pirate_info.height%></p>
<p>Pirate weight:<%=@pirate_info.weight%></p>
<h2>Display your first ship here</h2>
<p>Ship one name:<%=@ship_info[0].name%></p>
<p>Ship one type:<%=@ship_info[0].type%></p>
<p>Ship one booty:<%=@ship_info[0].booty%></p>
<h2>Display your second ship here</h2>
<p>Ship two name:<%=@ship_info[1].name%></p>
<p>Ship two type:<%=@ship_info[1].type%></p>
<p>Ship two booty:<%=@ship_info[1].booty%></p>
