<h1>Display your Pirate here</h1>
<p><%= @name %></p>
<p><%= @height %></p>
<p><%= @weight %></p>


<h2>Display your first ship here</h2>
<p><%=@ship_name_1 %></p>
<p><%=@ship_type_1 %></p>
<p><%=@ship_booty_1 %></p>


<h2>Display your second ship here</h2>
<p><%=@ship_name_2 %></p>
<p><%=@ship_type_2 %></p>
<p><%=@ship_booty_2 %></p>
