<!DOCTYPE html>
<html>
  <head>
    <title>Pirates and ships</title>
  </head>
  <body>
    <h1>Pirate</h1>
    <p>Name:<%= @pirate.name %></p>
    <p>Weight: <%= @pirate.weight %></p>
    <p>Height: <%= @pirate.height%></p>
    <h1>Ships</h1>
      <% @ships.each do |ship, index| %>
        <p>Ship #<%=  %></p>
        <p>Name:<%= ship.name %> </p>
        <p>Type: <%= ship.type %> </p>
        <p>Booty: <%= ship.booty %> </p>
      <%end %>
  </body>
</html>