<h1>Pirate Info</h1>
  <div class="pirate">
    <h3>Pirate Name: <%= @pirate.name %></h3><br>
    <h4>Pirate Weight: <%= @pirate.weight %></h4><br>
    <h4>Pirate Height: <%= @pirate.height %></h4>
  </div><br>


<h2>Ship Info</h2>

<% @ships.each do |ship| %>
  <div class="ships">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
    </div><br>
  <% end %>


<h2>Display your second ship here</h2>


