<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Name: <span style="color:red"><%= @pirate.name%></span></h1>
    <h3>Weight: <%= @pirate.weight%> <h3>
    <h3>Height: <%= @pirate.height%></h3>
    <h2>SHIPS</h2>
    <% @ships.each do |s|%>
    <h2>Name: <span style = "color: red"><%=s.name%></span>, Type: <span style="color:red"><%=s.type%></span>, Booty: <span style="color:purple"><%=s.booty%></span></h2>
    <%end%>

  </body>
</html>
