<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>
      <%= @pirate.name %>
      <%= @pirate.weight %>
      <%= @pirate.height %>
    </h1>



    <h2>
      <%= @ships.first.name %>
      <%= @ships.first.type %>
      <%= @ships.first.booty %>
    </h2>




    <h2>
      <%= @ships.last.name %>
      <%= @ships.last.type %>
      <%= @ships.last.booty %>
    </h2>


  </body>
</html>
