<h1>Pirates</h1>
<h4>Name: <%= @pirate.name %></h4>
<h4>Weight: <%= @pirate.weight %> pounds</h4>
<h4>Height: <%= @pirate.height %> inches</h4>

<h1>Ships</h1>
<% @ships.each.with_index(1) do |ship, i| %>
  <div class="ship">
    <h3>Ship #: <%= i %></h3>
    <h4>Name: <%= ship.name %></h4>
    <h4>Type: <%= ship.type %></h4>
    <h4>Booty: <%= ship.booty %></h4><br>
  </div>
<% end %>
