<!doctype html>

<h1>Display your Pirate here</h1>
<p><%=@pirate.name%></p>
<p><%=@pirate.weight%></p>
<p><%=@pirate.height%></p>
<p><%=@pirate%></p>





<%@ships.each do |ship|%>
  <p><%=ship.name%></p>
  <p><%=ship.type%></p>
  <p><%=ship.booty%></p>

<%end%>