<h1>Your Pirate's Info:</h1>
<h3>Pirate's Name: <%= @pirate.name %></h3>
<h4>Pirate's Weight: <%= @pirate.weight %></h4>
<h4>Pirate's Height: <%= @pirate.height %></h4>


<h2>Your Pirate's Ships</h2>
<% @ships.each do |s| %>
  <h3>Ship's Name: <%= s.name %></h3>
  <h4>Ship's Type: <%= s.type %></h4>
  <h4>Ship's Booty: <%= s.booty %></h4>
<% end %>
