<h1>Display your Pirate here</h1>

<h1>Here ye be</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
  <h4>Weight: <%= @pirate.weight %> lbs</h4>
</div><br>

<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
  </div><br>
<% end %>
