<h1>Pirate</h1>

<h3>Pirate Name: <%= @pirate.name %></h3><br>
<h3>Pirate Weight: <%= @pirate.weight %></h3><br>
<h3>Pirate Height: <%= @pirate.height %></h3><br>

<h1>Ship(s)</h1>

<% @ships.each do |ship| %>
  <h3>Ship Name: <%= ship.name %></h3><br>
  <h3>Type: <%= ship.type %></h3><br>
  <h3>Booty: <%= ship.booty %></h3><br>
<% end %>
