<h1>Pirate</h1>
<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3>
  <h4>Weight: <%= @pirate.weight %></h3>
  <h4>Name: <%= @pirate.height %></h3>
</div>

<h2>Ships</h2>
<% @ships.each do |ship_info| %>
  <div class="ships">
    <li>Name: <%= ship_info.name %></li>
    <li>Type: <%= ship_info.type %></li>
    <li>Booty: <%= ship_info.booty %></li>
  </div><br>
<% end %>
