<h1>Display your Pirate here</h1>
<% @pirates.each do |pirate| %>
<ul>
<h2><%= pirate.name %></h2>
<p><%= pirate.weight %></p>
<p><%= pirate.height %></p>
</ul>
<% end %>
<h2>Ships: </h2>
<% @ships.each do |ship| %>
<ul>
<h3><%= ship.name %></h3> 
<p><%= ship.type %></p>
<p><%= ship.booty %></p> 
</ul>
<% end %>

