<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Here's Ye'rrr Pirate</h1>
    <h2>Name: <%= @pirate.name %></h2>
    <ul>
        <li>Weight: <%= @pirate.weight %></li>
        <li>Height: <%= @pirate.height %></li>
    </ul>
    <h2>This be ship numbarrr 1, <%= @pirate.name %>'s first ship</h2>
    <h3>Name: <%= @ships[0].name %></h3>
    <ul>
        <li>Type:  <%= @ships[0].type %></li>
        <li>Booty: <%= @ships[0].booty %></li>
    </ul>
    <h2>And this be t' second ship</h2>
    <h3>Name: <%= @ships[1].name %></h3>
    <ul>
        <li>Type:  <%= @ships[1].type %></li>
        <li>Booty: <%= @ships[1].booty %></li>
    </ul>
</body>
</html>
