<h1>Display your Pirate here</h1>
  <p>
    Pirate Name:
    <%= @pirate_info.name %>
  </p>
  Pirate Weight:
  <%= @pirate_info.weight %>
  Pirate Height:
  <%= @pirate_info.height %>

<h2>Display your ships here</h2>
<% @ships.each.with_index(1) do |ship, index| %>
  <h3>
    <%= index %>
    Name:
    <%= ship.name %>
  </h3>
  <p>
    Ship Type:
    <%= ship.type %>
  </p>
  <p>
    Ship Booty:
    <%= ship.booty %>
  </p>

<% end %>
