<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Pirate Information</h1>
      <h2><%= @pirate.name %></h2>
      <h2><%= @pirate.weight %></h2>
      <h2><%= @pirate.height %></h2>

    <h1>Ship One</h1>
      <h2><%= @pirateships[0].name %></h2>
      <h2><%= @pirateships[0].type %></h2>
      <h2><%= @pirateships[0].booty %></h2>

    <h1>Ship One</h1>
      <h2><%= @pirateships[1].name %></h2>
      <h2><%= @pirateships[1].type %></h2>
      <h2><%= @pirateships[1].booty %></h2>

  </body>
</html>
