<!DOCTYPE html>
<html>
<h1>Pirate's Name: <%=@new_pirate.name%></h1>
<h1>Pirate's Weight: <%=@new_pirate.weight%></h1>
<h1>Pirate's Height: <%=@new_pirate.height%></h1>


<h1> Ships:</h1>
<%@ships.each do |ship| %>
  <h2>Ship Name: <%=ship.name%></h2>
  <h2>Ship Type: <%=ship.type%></h2>
  <h2>Ship Booty: <%=ship.booty%></h2>
<%end%>



</html>
