<h1>Pirate</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>

<h2>Ships</h2>
  <% @ships.each do |ship| %>
  <div class="ships">
    <h2>Name: <%= ship.name%></h2>
    <h3>Type: <%= ship.type%></h3>
    <h3>Booty: <%= ship.booty%></h3>
  </div>
<% end %>
