<h2>Pirate</h2>
<div>
  <h3>Name: <%= %> </h3>
  <h4>Weight: <%= %> </h4>
  <h4>Height: <%= %> </h4>
</div>
<br>

<h2>First Ship</h2>
<div>
  <h3>Name: <%= %> </h3>
  <h4>Type: <%= %> </h4>
  <h4>Booty: <%= %> </h4>
</div>
<br>

<h2>Second Ship</h2>
<div>
  <h3>Name: <%= %> </h3>
  <h4>Type: <%= %> </h4>
  <h4>Booty: <%= %> </h4>
</div>