<h1> New Pirate and his ships! </h1>

<h2>Pirate</h2>
  <h3> Pirate Name: <%= @pirate.name %><br>
  Pirate Weight: <%= @pirate.weight %><br>
  Pirate Height: <%= @pirate.height %> </h3>

<h2>Ship 1</h2>
  <h3> Ship Name: <%= @ship_1.name %><br>
  Ship Type: <%= @ship_1.type %><br>
  Ship Booty: <%= @ship_1.booty %> </h3>

<h2>Ship 2</h2>
  <h3> Ship Name: <%= @ship_2.name %><br>
  Ship Type: <%= @ship_2.type %><br>
  Ship Booty: <%= @ship_2.booty %> </h3>
