<!Doctype hmtl>
<html>
  <head>
  </head>
  <body>
    <h1>Your Pirate</h1>
    
    <div class="pirate">
      <h3>Name: <%=@pirate.name%></h3>
      <h3>Height: <%=@pirate.height%></h3><br>
      <h3>Weight: <%=@pirate.weight%></h3><br>
    </div>
    
    <h2>Ship 1</h2>
    
    <div class="ship">
      <h3>Name: <%=@ships[0].name%></h3>
      <h3>Type: <%=@ships[0].height%></h3><br>
      <h3>Booty: <%=@ships[0].weight%></h3><br>
    </div>
    
    <h2>Ship 2</h2>
    
    <div class="ship">
      <h3>Name: <%=@ships[1].name%></h3>
      <h3>Type: <%=@ships[1].height%></h3><br>
      <h3>Booty: <%=@ships[1].weight%></h3><br>
    </div>
  </body>
</html>