<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<h2>Pirates!</h2>
   <p>Pirate Name: <%=  @pirate.name %></p>
    <p>Pirate Height: <%=  @pirate.height %></p>
    <p>Pirate Weight: <%=  @pirate.weight %></p>

<h2>Ships!</h2>
  <% @ships.each do |ship| %>
        <p>Ship Name: <%= ship.name %></p>
        <p>Ship Type: <%= ship.type %></p>
        <p>Ship Booty: <%= ship.booty %></p>

  <% end %>


