<h1><u>Pirate:</u><br>
  Name: <%= @pirate.name %><br>
  Weight: <%= @pirate.weight %><br>
  Height: <%= @pirate.height %><br>
</h1>


<h2><u>First Ship:</u><br>
  Name: <%= @ships[0].name %><br>
  Type: <%= @ships[0].type %><br>
  Booty: <%= @ships[0].booty %><br>
</h2>


<h2><u>Second Ship:</u><br>
  Name: <%= @ships[1].name %><br>
  Type: <%= @ships[1].type %><br>
  Booty: <%= @ships[1].booty %><br></h2>
