<h1>Pirate: <%= @pirate.name %></h1>
<ul>
  <li> Height: <%= @pirate.height %> </li>
  <li> Weight: <%= @pirate.weight %> </li>
</ul>

<% @pirate.ships.each do |ship| %>

  <h2>Ship: <%= ship.name %> </h2>
  <ul>
    <li>Type: <%= ship.type %> </li>
    <li>Booty: <%= ship.booty %> </li>
  </ul>

<% end %>
