<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Here's your Pirate and Ships</title>
  </head>
  <body>
    <h1>Pirates Details</h1>

    <div class="pirate">
      <p><b>Name:</b><%= "#{@pirate.name}" %></p>
      <p><b>Height:</b> <%= "#{@pirate.height}" %></p>
      <p><b>Weight:</b> <%= "#{@pirate.weight}" %></p>
    </div><br>

      <h2>Ships Details</h2>

    <% @ships.each do |ship| %>
    <div class="ship">
      <p><b>Name:</b><%= "#{ship.name}" %></p>
      <p><b>Type:</b> <%= "#{ship.type}" %></p>
      <p><b>Booty:</b> <%= "#{ship.booty}" %></p>
    </div><br>
    <% end %>
  </body>
</html>
