<h1>Pirates</h1>
<p>Pirate Name: <%=@pirate.name%></p>
<p>Pirate Weight: <%=@pirate.weight%></p>
<p>Pirate Height: <%=@pirate.height%></p>
<br><br>

<h1>Ships</h1>
<% @ships.each do |ship| %>
  <h2>Ship Name: <%=ship.name%></h2>
  <h2>Ship Type: <%=ship.type%></h2>
  <h2>Ship Booty: <%=ship.booty%></h2>
  <br>
<% end %>
