<h1>Pirate Information</h1>
<h5><%= "Name: #{@thief.name}" %></h5>
<h5><%= "Weight: #{@thief.weight}" %></h5>
<h5><%= "Height: #{@thief.height}" %></h5>



<h2>Ships</h2>
<% @shippy.each do |ship| %>
<h5><%= "Ship Name: #{ship.name}" %></h5>
<h5><%= "Ship Type: #{ship.type}" %></h5>
<h5><%= "Ship Booty: #{ship.booty}" %></h5>
<br>
<% end %>
