<h1>Display your Pirate here</h1>
<h2><%= @pirate.name %></h2>

<h3>Ships</h3>
<ul>
  <% @pirate.ships.each_with_index do |ship, index| %>
  <li> Ship No. <%= index+= 1%></li>
  <li> Ship Name: <%= ship.name %></li>
  <li> Ship Category: <%= ship.category %></li>
  <li> Ship Booty: <%= ship.booty %></li>
  </br>
  <% end %>
</ul>
