<h1>Display your Pirate here</h1>
<h2>Name</h2>
<%= @pirate.name %>
<h2>Weight</h2>
<%= @pirate.weight %>
<h2>Height</h2>
<%= @pirate.height %>

<h2>Display your first ship here</h2>
<h3>Name</h3>
<%= @first_ship.name %>
<h3>Type</h3>
<%= @first_ship.type %>
<h3>Booty</h3>
<%= @first_ship.booty %>

<h2>Display your second ship here</h2>
<%= @second_ship.name %>
<%= @second_ship.type %>
<%= @second_ship.booty %>