<h1>Display your Pirate here</h1>
<div class="pirate">
  <h3>Name: <%=@pirate.name%> </h3>
  <h3>Weight:<%=@pirate.weight%> </h3>
  <h3>Height: <%=@piate.height%></h3>
</div></br>


<h2>Display your first ship here</h2>
<div class="ship_name_1">
  <h3>Ship Name: <%=@ship_name_1.name%> </h3>
  <h3>Ship Type:<%=@ship_type_1.type%> </h3>
  <h3>Ship Booty: <%=@ship_booty_1.booty%></h3>
</div></br>

<h2>Display your second ship here</h2>
<div class="ship_name_1">
  <h3>Ship Name: <%=@ship_name_2.name%> </h3>
  <h3>Ship Type:<%=@ship_type_2.type%> </h3>
  <h3>Ship Booty: <%=@ship_booty_2.booty%></h3>
</div></br>
