<h1>Pirate Name: <%= @pirate.name %></h1>
<h1>Pirate Weight: <%= @pirate.weight %></h1>
<h1>Pirate Height: <%= @pirate.height %></h1>


<h2>Ships</h2>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
  </div><br>
  <% end %>


<h2>Display your second ship here</h2>
