<h1>Pirate</h1>
<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %></h4>
  <h4>Height: <%= @pirate.height %></h4>
</div><br>


<h2>Ship 1</h2>
<div class="ship">
  <h3>Name: <%= @ships.first.name %></h3><br>
  <h4>Type: <%= @ships.first.type %></h4>
  <h4>Booty: <%= @ships.first.booty %></h4>
</div><br>


<h2>Ship 2</h2>
<div class="ship">
  <h3>Name: <%= @ships.last.name %></h3><br>
  <h4>Type: <%= @ships.last.type %></h4>
  <h4>Booty: <%= @ships.last.booty %></h4>
</div><br>
