<h1>Your Pirate & Ships!</h1>

<h2>Pirate: </h2>
<p>Name: <%= @pirate.name %></p>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p><br>

<% @ships.each.with_index do |s, i| %>
  <div class="ship">
    <h3>Ship <%= i + 1 %>:</h3>
    <p>Name: <%= s.name %></p>
    <p>Type: <%= s.type %></p>
    <p>Booty: <%= s.booty %></p>
  </div><br>
<% end %>
