<h1> Pirate </h1>
Pirate Name: <%= @new_pirate.name %><br>
Pirate Weight: <%= @new_pirate.weight %><br>
Pirate Height: <%= @new_pirate.height %><br>
<br>
<h2> Ships </h2>
<% Ship.all.each do |ship| %>
Ship Name: <%=ship.name%><br>
Ship Type: <%= ship.type %><br>
Ship Booty: <%= ship.booty %><br>
<% end %>
<br>
