<h1>Display your Pirate here</h1>
<p>Pirate Name: <%=@pirate.name%></p>
<p>Pirate Weight: <%=@pirate.weight%> lbs</p>
<p>Pirate Height: <%=@pirate.height%></p>

<h2>Display your first ship here</h2>
<%@ships.each{|ship| %>
  <p><%=ship.name%></p>
  <p><%=ship.type%></p>
  <p><%=ship.booty%></p>
  <br>
<%}%>
