<h1>Pirate</h1>
<div class="pirate">
  <h3>Pirate Name: <%= @pirate.name %></h3>
  <h4>Pirate Height: <%= @pirate.height %></h4>
  <h4>Pirate Weight: <%= @pirate.weight %></h4>
  </div><br>


<h1>Ship_1</h1>
<div class="ship_1">
  <h3>Ship Name: <%= @ships[0].name %></h3>
  <h4>Ship Type: <%= @ships[0].type %></h4>
  <h4>Ship Booty: <%= @ships[0].booty %></h4>
  </div><br>

<h1>Ship_2</h1>
<div class="ship_2">
  <h3>Ship Name: <%= @ships[1].name %></h3>
  <h4>Ship Type: <%= @ships[1].type %></h4>
  <h4>Ship Booty: <%= @ships[1].booty %></h4>
  </div><br>
