<h1>Display your Pirate here</h1>
<p>Pirate Name: <%= @pirate.name %> Arr!</p>
<p>Pirate Weight: <%= @pirate.weight %> lbs</p>
<p>Pirate Height: <%= @pirate.height %> ft</p>


<h1>Here Are Their Ships! Ahoy Mate</h1>
<h2>Display your first ship here</h2>
 <p>Ship Name: <%=@ships[0].name %>, a Beu'ity Aye</p>
 <p>Ship Type: <%=@ships[0].type %>, shes'a fast one, mate</p>
 <p>Ship Booty: <%=@ships[0].booty %>, look at that!</p>

 </br>

<h2>Display your second ship here</h2>
<p>Ship Name: <%=@ships[1].name %>, ya'kno her story?</p>
<p>Ship Type: <%=@ships[1].type %>, Shiver me timbers! She was hard ta'get</p>
<p>Ship Booty: <%=@ships[1].booty %>, quite a booty, Aye!</p>
