<h1>Display your Pirate here:</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>

<% @ships.each do |ship| %>
  <h2>Ship Name: <%= ship.name %></h2>  
  <p>Ship type: <%= ship.type %></p>
  <p>Ship booty: <%= ship.booty %></p>
<% end %>
