<h1>Display your pirate here</h1>
<h1>Pirate Name: <%= @pirates.name%></h1><br>
<h1>Pirate Weight: <%= @pirates.weight%></h1><br>
<h1>Pirate Height: <%= @pirates.height%></h1><br>

<h2>Display your first ship here</h2>
<h2>Ship Name: <%= @ships[0].name%></h2><br>
<h2>Ship Type: <%= @ships[0].type%></h2><br>
<h2>Ship Booty: <%= @ships[0].booty%></h2><br>

<h2>Display your second ship here</h2>
<h2>Ship Name: <%= @ships[1].name%></h2><br>
<h2>Ship Type: <%= @ships[1].type%></h2><br>
<h2>Ship Booty: <%= @ships[1].booty%></h2><br>