
<h1>Pirate</h1>
<div class="pirate">
  <h2>Name: <%= @pirate.name %></h2><br>
  <h2>Weight: <%= @pirate.weight %></h2><br>
  <h2>Height: <%= @pirate.height %></h2><br>
</div>


<h2>First Ship</h2>
  <div class="ship">
    <p>Name: <%= @ships[0].name %></p><br>
    <p>Type: <%= @ships[0].type %></p><br>
    <p>Booty: <%= @ships[0].booty %></p><br>
  </div>

<h2>Second Ship</h2>
  <div class="ship">
    <p>Name: <%= @ships[1].name %></p><br>
    <p>Type: <%= @ships[1].type %></p><br>
    <p>Booty: <%= @ships[1].booty %></p><br>
  </div>
