<h1>Pirate:</h1><br>
 <h3>Pirate's Name: <%= @pirate.name %></h3><br>
 <p>Pirate's Weight: <%= @pirate.weight %></p><br>
 <p>Pirate's Height: <%= @pirate.height %></p><br>

 <h2>Ship:</h2>
 <% @ships.each do |ship| %>
   <h3>Ship's Name: <%= ship.name %></h3>
   <p>Ship's Type: <%= ship.type %></p>
   <p>Ship's Booty: <%= ship.booty %></p>
 <% end %>



<h2>Display your second ship here</h2>
