<h1>Pirate</h1>
<div class="pirate">
  <p>Pirate Name: <%=@pirate.name %></p><br>
  <p>Pirate Height: <%= @pirate.height %></p><br>
  <p>Pirate Weight: <%= @pirate.weight %></p><br>
</div><br>


<h2>Ships</h2>
<% @ships.each do |ship| %>
  <p>Name: <%= ship.name %></p>
  <p>Type: <%= ship.type %></p>
  <p>Booty: <%= ship.booty %></p>
<% end %>
