<h1>Pirate!</h1>

<p>Pirate name: <%= @pirate.name %></p>
<p>Pirate weight: <%= @pirate.weight %></p>
<p>Pirate height: <%= @pirate.height %></p>


<h2>Ships!</h2>

<% @ships.each do |ship| %>
  <div>
    <p>Ship name: <%= ship.name %></p>
    <p>Ship type: <%= ship.type %></p>
    <p>Ship booty: <%= ship.booty %></p>
  </div>
<% end %>