<h1>Display your Pirate here</h1>

Name: <b><%= @pirate.name %></b><br>
Weight: <b><%= @pirate.weight %></b><br>
Height: <b><%= @pirate.height %></b><br>

<h2>Display your first ship here</h2>
Name: <b><%= @ships[0].name %></b><br>
Type: <b><%= @ships[0].type %></b><br>
Booty: <b><%= @ships[0].booty %></b><br>

<h2>Display your second ship here</h2>
Name: <b><%= @ships[1].name %></b><br>
Type: <b><%= @ships[1].type %></b><br>
Booty: <b><%= @ships[1].booty %></b><br>