<h1>Display your Pirate here</h1>
  <h3>  <%= @pirate.name %> </h3>
  <h3>  <%= @pirate.weight %> </h3>
  <h3>  <%= @pirate.height %> </h3>

<h2>Display your first ship here</h2>
    <p><%= @ship.name %></p>
    <p><%= @ship.type %></p>
    <p><%= @ship.booty %></p>


<h2>Second Ship</h2>
    <p><%= @ship2.name %></p>
    <p><%= @ship2.type %></p>
    <p><%= @ship2.booty %></p>
