<h1>Pirate: <%= @pirate.name %></h1>
  <ul>Weight: <%= @pirate.weight %></ul>
  <ul>Height: <%= @pirate.height %></ul>



<h2>Ship:<%= @ships[0].name %></h2>
  <ul>Type: <%= @ships[0].type %></ul>
  <ul>Booty: <%= @ships[0].booty %></ul>


  <h2>Ship:<%= @ships[1].name %></h2>
    <ul>Type: <%= @ships[1].type %></ul>
    <ul>Booty: <%= @ships[1].booty %></ul>
