<%= @pirate.name %>

<h2>Ships</h2>
<ul>
  <% @pirate.ships.each_with_index do |ship, index|  %>
    <li> <%= index+1 %> </li>
    <li> <%= Name: ship.name %> </li>
    <li> <%= Category: ship.category%> </li>
    <li> <%= Booty: ship.booty %> </li>
    <% end %>
</ul>
