<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>All about pirates!</title>
  </head>
  <body>
    <h1>Pirate info</h1>

    <div class="pirate">
      <h3>Name: <%= @pirate.name %></h3><br>
      <h4>Weight: <%= @pirate.weight %>lbs</h4>
      <h4>Height: <%= @pirate.height %>inches</h4>
    </div><br>

     <% @ships.each.with_index do |ship, index| %>
      <div class="ship">
        <h2>Ship <%= index +1 %></h2>
        <h3>Name: <%= ship.name %></p><br>
        <p>Type: <%= ship.type %></p><br>
        <p>Booty: <%= ship.booty %></p><br>
      </div><br>
    <% end %>
  
  </body>
</html>
