<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title></title>
  </head>
  <body>
    <h1>Pirates</h1>

      <h1>Name: <%= @pirate.name %></h1>
      <h1>Weight: <%= @pirate.weight %></h1>
      <h1>Height: <%= @pirate.height %></h1>


    <h1>Ships</h1>
    <% @ships.each do |ship| %>
        <p>Name: <%= ship.name %></p>
        <p>Type: <%= ship.type %></p>
        <p>Booty: <%= ship.booty %></p>
    <% end %>
  </body>
</html> -->

<!DOCTYPE html>
 <html>
 <head>
   <title></title>
 </head>
 <body>
   <h1>Pirate Name: <%= @pirate.name %></h1>
   <h1>Pirate Weight: <%= @pirate.weight %></h1>
   <h1>Pirate Height: <%= @pirate.height %></h1>

   <% @ships.each do |ship| %>
     <h2>Ship Name: <%= ship.name %></h2>
     <h2>Ship Type: <%= ship.type %></h2>
     <h2>Ship Booty: <%= ship.booty %></h2>
   <% end %>
 </body>
 </html>
