<h1>Pirate</h1>

  <h3>Priate Name: <%= @pirate.name %></h3><br>
  <h3>Priate Weight: <%= @pirate.weight %></h3><br>
  <h3>Priate Height: <%= @pirate.height %></h3><br>

<h2>The Pirate's Ships</h2>

  <% @ships.each do |ship| %>
    <h3>Ship Name: <%= ship.name %></h3><br>
    <h3>Ship Type: <%= ship.type %></h3><br>
    <h3>Ship Booty: <%= ship.booty %></h3><br>
  <% end %>
