<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>This Pirate</h2>

    <h3>Name: <%=@pirate.name%></h3>

    <p>Weight: <%=@pirate.weight%><br>
    Height: <%=@pirate.height%></p>

    <h2>And His Ships...</h2>

    <% @ships.each do |ship_obj| %>
      <h3>Vessel Name: <%= ship_obj.name %></h3>
      <p>Type: <%= ship_obj.type %><br>
      Carrying: <%= ship_obj.booty %></p>
    <% end %>



  </body>
</html>
