<!DOCTYPE html>
<html>
<head>
  <title>Pirates and Ships</title>
</head>
<body>

  <h1>Pirate Name: <%= @pirate.name %></h1>
  <p>Pirate Weight: <%= @pirate.weight %></p>
  <p>Pirate Height: <%= @pirate.height %></p>

  <% @ships.each do |ship| %>
  <h2>Ship Name: <%= ship.name %></h2>
  <p>Ship Type: <%= ship.type %></p>
  <p>Ship Booty: <%= ship.booty %></p>
  <% end %>

</body>
</html>
