<h1><%= @pirate.name %></h1>
<h1><%= @pirate.weight %></h1>
<h1><%= @pirate.height %></h1>

<% @ships.each do |ship| %>
  <h1><%= ship.name %></h1>
  <h1><%= ship.type %></h1>
  <h1><%= ship.booty %></h1>
<% end %>
