    <h1>Pirates</h1>
    <div class="pirate">
      <h3>Name: <%= @pirate.name %></h3>
      <h4>Weight: <%= @pirate.weight %></h4>
      <h4>Height: <%= @pirate.height %></h4>
    </div><br>


    <h1>Ships</h1>
    <% counter = 0 %>
    <% @ships.each do |ship| %>
    <% counter += 1 %>
    <div class="ship">
      <h2>Ship <%= counter %></h2>
      <h3>Name: <%= ship.name %></h3>
      <h4>Type: <%= ship.type %></h4>
      <h4>Booty: <%= ship.booty %></h4>
    </div><br>
    <% end %>
