<h1>ARRR- Ye' Pirates Info Is Below</h1>
<h2>Pirate Name: <%= @pirate.name %></h2>
<h2>Pirate Weight: <%= @pirate.weight %></h2>
<h2>Pirate Height: <%= @pirate.height %></h2>

<h2>You Call That A Ship?</h2>
  <p>Ship Name 1: <%= @ship1.name %></p>
  <p>Ship Type 1: <%= @ship1.type %></p>
  <p>Ship Booty 1: <%= @ship1.booty %></p>

<h2>Now, This Is A Ship!</h2>
  <p>Ship Name 1: <%= @ship2.name %></p>
  <p>Ship Type 1: <%= @ship2.type %></p>
  <p>Ship Booty 1: <%= @ship2.booty %></p>
