<h1>Your Pirate</h1>
<h2>Name: <%=@pirate.name%></h1>
<h2>Height: <%=@pirate.height%></h1>
<h2>Weight: <%=@pirate.weight%></h1>

<h1>Ship One</h1>
  <h2>Name: <%=@ship[0].name%></h1>
  <h2>Type: <%=@ship[0].type%></h1>
  <h2>Booty: <%=@ship[0].booty%></h1>

<h1>Ship Two</h1>
  <h2>Name: <%=@ship[1].name%></h1>
  <h2>Type: <%=@ship[1].type%></h1>
  <h2>Booty: <%=@ship[1].booty%></h1>
