<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= @pirate.name %>, <%= @pirate.weight %>, <%= @pirate.height %></h1>
    <% @ships.each do |ship| %>
      <h2><%= ship.name %>, <%= ship.type %>, <%= ship.booty %></h2>
      <% end %>
  </body>
</html>
