<div class="pirate">
  <p>Pirate Name: <%= @pirate.name %></p>
  <p>Pirate Weight: <%= @pirate.weight %></p>
  <p>Pirate Height: <%= @pirate.height %></p>
</div>

<p>
  <% @ships.each do |ship| %>
    <%= ship.name %>
    <%= ship.type %>
    <%= ship.booty %>
  <% end %>
</p>