<h1>Pirate Details</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Height: <%= @pirate.height %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>

<h2>Ship 1 Details</h2>
<p>Ship 1 name: <%= @ships[0].name %></p>
<p>Ship 1 type: <%= @ships[0].type%></p>
<p>Ship 1 booty: <%= @ships[0].booty %></p>

<h2>Ship 2 Details</h2>
<p>Ship 2 name: <%= @ships[1].name %></p>
<p>Ship 2 type: <%= @ships[1].type%></p>
<p>Ship 2 booty: <%= @ships[1].booty %></p>
