<h1><%=@pirate.name%>'s Info</h1>
<p>Weight: <%=@pirate.weight%></p>
<p>Height: <%=@pirate.height%></p>
<br>
<% @ships.each do |ship| %>
<h2>The <%=ship.name%>'s Info</h2>
<p>Type: <%=ship.type%></p>
<p>Booty: <%=ship.booty%></p>
<br>
<% end %>