<!DOCTYPE html>
<html>

  <h1>Pirate</h1>
  <h2>Pirate Name: <%= @pirate.name %></h2>
  <h2>Pirate Weight: <%= @pirate.weight %></h2>
  <h2>Pirate Height: <%= @pirate.height %></h2>

  <h2>First Ship</h2>
  <h2>Ship Name 1: <%= @ships[0].name %></h2>
  <h2>Ship Type: <%= @ships[0].type %></h2>
  <h2>Ship Booty: <%= @ships[0].booty %></h2>

  <h2>Second Ship</h2>
  <h2>Ship Name: <%= @ships[1].name %></h2>
  <h2>Ship Type: <%= @ships[1].type %></h2>
  <h2>Ship Booty: <%= @ships[1].booty %></h2>

</html>
