<h1>Pirates</h1>
<section class="pirate">
<p>Name: <%= @pirate.name %></p>
<p>Weight: <%= @pirate.weight %> pounds</p>
<p>Height: <%= @pirate.height %> inches</p>
</section>

<h2>Ships</h2>
<% @ships.each do |ship| %>
<section class="ship">
<p>Name: <%= ship.name %></p>
<p>Type: <%= ship.type %></p>
<p>Booty: <%= ship.booty %></p>
<br />
<section>
<% end %>
