<h1><%= @pirate.name %></h1>
<h1><%= @pirate.weight %></h1>
<h1><%= @pirate.height %></h1>


<h2><%= @first_ship.name %></h2>
<h2><%= @first_ship.type %></h2>
<h2><%= @first_ship.booty %></h2>


<h2><%= @second_ship.name %></h2>
<h2><%= @second_ship.type %></h2>
<h2><%= @second_ship.booty %></h2>
