<h1>Pirate Name: <%= @pirate.name %></h1>
<h2>Pirate Weight: <%= @pirate.weight %></h2>
<h2>Pirate Height: <%= @pirate.height %></h2>
<br>
<h2>Ships</h2>
<% @ships.each do |ship| %>

  <p>Ship Name: <%= ship.name %></p>
  <p>Ship Type: <%= ship.type %></p>
  <p>Ship Booty: <%= ship.booty %></p>

<% end %>
