<h1>Pirate <%= @pirate.name %> (<%= @pirate.height %> tall / <%= @pirate.weight %> lbs)</h1>

<% @ships.each do |ship| %>
  <h2>Name: <%= ship.name %> | Type: <%= ship.type %> | Booty: <%= ship.booty %></h2>
<% end %>
