
<h1>Pirate name: <%= @pirate.name %></h1>
  <p>Pirate weight: <%= @pirate.weight %></p>
  <p>Pirate height: <%= @pirate.height %></p>

  <% @ships.each do |ship| %>
  <h2>Ship name: <%= ship.name %></h2>
  <p>Ship type: <%= ship.type %></p>
  <p>Ship booty: <%= ship.booty %></p>
  <% end %>
