<h1>Display your Pirate here</h1>

<div class="pirate">
<%= @pirate.name %>
<%= @pirate.height %>
<%= @pirate.weight %>
</div>

<h2>Display your first ship here</h2>

<% @ships.each do |ship| %>
<div class="ship">
  <%= ship.name %>
  <%= ship.type %>
  <%= ship.booty %>
</div>
<% end %>
