<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pirate And Ships</title>
</head>
<body>
  <p>Pirate Name: <%= @pirate.name %></p>
  <p>Pirate Weight: <%= @pirate.weight %></p> 
  <p>Pirate Height: <%= @pirate.height %></p>

  <% @ships.each do |ship| %>
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
  <% end %>
</body>
</html>