<h1>Display your Pirate here</h1>
  <p>
    <%= @pirate.name %> <br />
    <%= @pirate.height %> <br />
    <%= @pirate.weight %>
  </p>

<h2>Display your first ship here</h2>


<h2>Display your second ship here</h2>

<% @ships.each do |ship| %>
  <p>
    <%= ship.name %><br />
    <%= ship.type %><br />
    <%= ship.booty %>
  </p>
  <% end %>
