<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Create Pirate and Ships</title>
 </head>
 <body>
 <h3>Pirate</h3>
 <p><%= @pirate.name %></p>
 <p><%= @pirate.weight %></p>
 <p><%= @pirate.height %></p>
 <h2>Ship 1</h2>
 <p><%= @ship1.name %></p>
 <p><%= @ship1.type %></p>
 <p><%= @ship1.booty %></p>
 <h2>Ship 2</h2>
 <p><%= @ship2.name %></p>
 <p><%= @ship2.type %></p>
 <p><%= @ship2.booty %></p>
 </body>
</html>