<h1>Pirate</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3>
  <h3>Height: <%= @pirate.height %></h3>
  <h3>Weight: <%= @pirate.weight %></h3>
  </br>
</div>

<% counter = 1 %>
<% @ships.each do |ship| %>
<div class="ships">
  <h1>Ship <%= counter %></h1>
  <h3>Ship Name: <%= ship.name %></h3>
  <h3>Ship Type: <%= ship.type %></h3>
  <h3>Ship Booty: <%= ship.booty %></h3>
  <% counter += 1 %>
  </br>
</div>

<% end %>

