<h1>Display your Pirate here</h1>

  <h1>Pirate Information</h1>
  <h2><%=@pirate.name%></h2>
  <h2><%=@pirate.weight%></h2>
  <h2><%=@pirate.height%></h2>

  <h1>Ship Information</h1>
  <%@ships.each do |ship| %>
  <h2><%=ship.name%></h2>
  <h2><%=ship.type%></h2>
  <h2><%=ship.booty%></h2>
  <% end %>

<h2>Display your first ship here</h2>


<h2>Display your second ship here</h2>
