
<h1><%= @pirate.name %></h1>
<p> <%= @pirate.height %></p>
<p> <%= @pirate.weight %></p>
</br>

<% @ships.each do |ship| %>
  <h2><%=ship.name%> </h2>
  <h3><%=ship.type%> </h2>
  <h3><%=ship.booty%></h2>
<%end%>
