<h1>Name: <%= @pirate.name %></h1>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>


<h2>Name: <%= @ship[0].name %></h2>
<p>Type: <%= @ship[0].type %></p>
<p>Booty: <%= @ship[0].booty %></p>

<h2>Name: <%= @ship[1].name %></h2>
<p>Type: <%= @ship[1].type %></p>
<p>Booty: <%= @ship[1].booty %></p>
