<h1>Display your Pirate here</h1>
  <p>Pirate's name: <%=@pirate.name%></p>
  <p>Pirate's weight: <%=@pirate.weight%></p>
  <p>Pirate's height: <%=@pirate.height%></p>

<h2>Display your first ship here</h2>

<p>First Ship's name: <%=@ship_1.name%></p>
<p>First Ship's type: <%=@ship_1.type%></p>
<p>First Ship's booty: <%=@ship_1.booty%></p>


<h2>Display your second ship here</h2>

<p>Second Ship's name: <%=@ship_2.name%></p>
<p>Second Ship's type: <%=@ship_2.type%></p>
<p>Second Ship's booty: <%=@ship_2.booty%></p>
