<h1>Pirate</h1>
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Height: <%= @pirate.height %></p>
<p>Pirate Weight: <%= @pirate.weight %></p>


<h2>Ship 1</h2>

<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p>
  </div>
<% end %>
