<h1> Yer Info: </h1>

<h2> <%= @pirate.name %> </h2>
<h3> <%= @pirate.weight %> </h3>
<h3> <%= @pirate.height %> </h3>

<h1> Yer Fleet: </h1>

<% @ships.each do |ship| %>
  <h3> <%= ship.name %> </h3>
  <p> <%= ship.type %> </p>
  <p> <%= ship.booty %> </p>
  <p></p>
<% end %>
