<h1>Pirates</h1>

<h1> <%= @pirate.name %> </h1>
<h2> <%= @pirate.weight %> </h2>
<h2> <%= @pirate.height %> </h2>


<% @ship.each do |s| %>
<h2> <%= puts s.name %> </h2>
<h2> <%= puts s.type %> </h2>
<h2> <%= puts s.booty %> </h2>
<% end %>
