<h1>The Pirate</h1>
<h3><%= @pirate.name %></h3>
<h3>His Weight <%= @pirate.weight %></h3>
<h3>His Height <%= @pirate.height %></h3>


<h2>His First Ship aargh</h2>
<h4><%= @ships[0].name %></h4>
<h4>A <%= @ships[0].type %></h4>
<h4>Laden With <%= @ships[0].booty %></h4>


<h2>His Second Ship</h2>
<h4><%= @ships[1].name %></h4>
<h4>A <%= @ships[1].type %></h4>
<h4>Laden With <%= @ships[1].booty %></h4>
