<h1>Pirates</h1>
<div class="pirate">
  Name: <%= @pirate.name %><br>
  Weight: <%= @pirate.weight %><br>
  Height: <%= @pirate.height %>
</div><br>

<h1>Ships</h1>
<% @ships.each do |ship| %>
<div class="ship">
  <p>Name: <%= ship.name %><br>
  Type: <%= ship.type %><br>
  Booty: <%= ship.booty %></p>
</div><br>
<% end %>
