<h1>Pirate</h1>

  <h3>Name: <%= @pirate.name %></h3>
  <span>Weight: <%= @pirate.weight %></span>
  <h4>Height: <%= @pirate.height %></h4>
    <br>

<h1>Ships</h1>
<% @ships.each do |ship| %>
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
  <br>
<% end %>