   <!DOCTYPE html>
<html>
  <head>
    <title>Pirate & Ships</title>
  </head>
<body>

<h1>Pirate and Their Ships</h1>
  <h2>Pirate</h2>
  <h3>Pirate Name:<%= @pirate.name %></h2>
  <h4>Pirate Height: <%= @pirate.height %></h3>
  <h4>Pirate Weight: <%= @pirate.weight %></h3>
  <br>
  <h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p>
  </div><br>
<% end %>

<!--<h2>Pirate Ship</h2>-->
<!--    <h3>Ship Name: <%= @ships[0].name %></h3>-->
<!--      <h4>Ship Type: <%= @ships[0].type %></h4>-->
<!--      <h4>Ship Booty: <%= @ships[0].booty %></h4>-->
<!--      <br>-->

<!--<h2>Pirate Ship</h2>-->
<!--    <h3>Ship Name: <%= @ships[1].name %></h3>-->
<!--      <h4>Ship Type: <%= @ships[1].type %></h4>-->
<!--      <h4>Ship Booty: <%= @ships[1].booty %></h4>-->
  </body>
  </html>
