<h1>Ye Scalawags and Ships</h1>
<h2>Pirates</h2>
<h3><%=@pirate.name%></h3>
<h3><%=@pirate.weight%></h3>
<h3><%=@pirate.height%></h3>

<h2>Ships</h2>
<%@ships.each do |ship|%>
  <h3>Ship Name: <%= ship.name %></h3>
  <h3>Ship Type: <%= ship.type %></h3>
  <h3>Ship Name: <%= ship.booty %></h3>
<%end%>
