<h1>Pirate:</h1>
Name: <%= @pirate.name %><br>
Height: <%= @pirate.height %><br>
Weight: <%= @pirate.weight %><br>

<h2>Ship 1:</h2>
Name: <%= @ships[0].name %><br>
Type: <%= @ships[0].type %><br>
Booty: <%= @ships[0].booty %><br>

<h2>Ship 2</h2>
Name: <%= @ships[1].name %><br>
Type: <%= @ships[1].type %><br>
Booty: <%= @ships[1].booty %><br>
