<h1>Pirate</h1>

  <li><%= @pirate.name %></li>
  <li><%= @pirate.weight %></li>
  <li><%= @pirate.height %></li>

<h2>First Ship</h2>

  <li><%= @ship1.name %></li>
  <li><%= @ship1.type %></li>
  <li><%= @ship1.booty %></li>

<h2>Second Ship</h2>

  <li><%= @ship2.name %></li>
  <li><%= @ship2.type %></li>
  <li><%= @ship2.booty %></li>
