<h1>Welcome to the Nested Forms Lab!</h1>
<h1>Pirate</h1>
<h2>Name:<%=@pirate.name %></h2>
<h2>Height:<%=@pirate.height %></h2>
<h2>Weight:<%=@pirate.weight %></h2>

<h1>Ships</h1>
<h2>Name:<%=Ship.all[0].name%></h2>
<h2>Type:<%=Ship.all[0].type%></h2>
<h2>Booty:<%=Ship.all[0].booty%></h2>
<h2>Name:<%=Ship.all[1].name%></h2>
<h2>Type:<%=Ship.all[1].type%></h2>
<h2>Booty:<%=Ship.all[1].booty%></h2>

