<h1>Pirate Stats</h1><br>
  <p>Name: <%= @pirate.name %></p>
  <p>Weight: <%= @pirate.weight %></p>
  <p>Height: <%= @pirate.height %></p>
  <br>
 
  <% @ships.each_with_index do |ship, index| %>
    <h3>Ship <%= index %> </h3>
    <p>Name: <%= ship.name %></p>
    <p>Type: <%= ship.type %></p>
    <p>Booty: <%= ship.booty %></p>
  <% end %>

