<!DOCTYPE html>
<html>
  	<head>
    	<meta charset="UTF-8">
    	<title>title</title>
  	</head>
  	<body>
		<h1> Pirate
		<h2> Pirate Name: <%= @pirate.name %></h1>
		<h2> Pirate Weight: <%= @pirate.weight %></h1>
		<h2> Pirate Height: <%= @pirate.height %></h1><br>

		<h1>Ships</h1>
		<% @ships.each do |ship| %>
			<div class="ship">
    		<h2>Name: <%= ship.name %></h2>
    		<h2>Type: <%= ship.type %></h2>
			<h2>Booty: <%= ship.booty %></h2>
  			<br>
		</div>
		<% end %>
  	</body>
</html>
