<h1><%= @pirate.name %><%= @pirate.weight %><%= @pirate.height %></h1>


<h1>ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p>ship_name_1: <%= ship.name %></p><br>
    <p>ship_name_1: <%= ship.type %></p><br>
    <p>ship_name_1: <%= ship.booty %></p><br>

  </div><br>
<% end %>
