<h1>Pirate Name: <%= @pirate.name %></h1>
<p>Pirate Weight: <%= @pirate.weight %></p>
<p>Pirate Height: <%= @pirate.height %></p>


<h2>Display your first ship here</h2>
<%= @ships[0].name %>
<%= @ships[0].type %>
<%= @ships[0].booty %>



<h2>Display your second ship here</h2>
<%= @ships[1].name %>
<%= @ships[1].type %>
<%= @ships[1].booty %>
