<h1>Display your Pirate here</h1><br>
  <h3>Pirate Name: <%= @pirate.name %></h3><br>
  <h3>Pirate Weight: <%= @pirate.weight %></h3><br>
  <h3>Pirate Height: <%= @pirate.height %></h3><br>

<h2>Display the Pirate's Ships and their Details</h2>
  <% @ships.each do |ship| %>
    <p>Name: <%= ship.name %></p><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p><br>
  <% end %>
