<h1>Pirates</h1>

<div class="pirate">
  <h2>Name: <%= @pirate.name %></h2>
  <h3>Weight: <%= @pirate.weight %> pounds</h3>
  <h3>Height: <%= @pirate.height %> feet</h3>
</div>

<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
    <p><strong>Name:</strong> <%= ship.name %></p>
    <p><strong>Type:</strong> <%= ship.type %></p>
    <p><strong>Booty:</strong> <%= ship.booty %></p>
  </div><br>
<% end %>
