<h1><%=@pirate.name%></h1>
<h1><%=@pirate.weight%></h1>
<h1><%=@pirate.height%></h1>


<h2><%@ships.each do |each|%></h2>
<h2><%=each.name%></h2>
<h2><%=each.type%></h2>
<h2><%=each.booty%></h2>
<h2><%end%></h2>
