<h1>Display your Pirate here</h1>
<label>Name: </label><%=@pirate.name%>
<label>Weight: </label><%=@pirate.weight%>
<label>Height: </label><%=@pirate.height%>

<h2>Display your first ship here</h2>
<%@ships.each do |ship|%>

  <p>Name: <%=ship.name%></p>
  <p>Type: <%=ship.type%></p>
  <p>Booty: <%=ship.booty%></p>

<%end%>
