<h1>Display your Pirate here</h1>

<h3>Pirate Name: <small><%= @pirate.name %></small></h3>
<h3>Pirate Weight: <small><%= @pirate.weight %></small></h3>
<h3>Pirate Height: <small><%= @pirate.height %></small></h3>

<h2>Display your first ship here</h2>
<h3>Ship Name: <small><%= @ships[0].name %></small></h3>
<h3>Ship Type: <small><%= @ships[0].type %></small></h3>
<h3>Ship Booty <small><%= @ships[0].booty %></small></h3>

<h2>Display your second ship here</h2>
<h3>Ship Name: <small><%= @ships[1].name %></small></h3>
<h3>Ship Type: <small><%= @ships[1].type %></small></h3>
<h3>Ship Booty <small><%= @ships[1].booty %></small></h3>
