<h1>Display your Pirate here</h1>

<p>Pirate Name: <%= @pirate.name%></p>
<p>Pirate Weight: <%= @pirate.weight%></p>
<p>Pirate Height: <%= @pirate.height%></p>


<h2>Display your first ship here</h2>

<% @ships.each.with_index do |ship, i| %>
  <div class="ship">

    <% if i == 0 %>
        <p>Ship Name: <%= ship.name %></p><br>
        <p>Ship Type: <%= ship.type %></p><br>
        <p>Ship Booty: <%= ship.booty %></p><br>
        
    <% end %>
  </div><br>
<% end %>

<h2>Display your second ship here</h2>

<% @ships.each.with_index do |ship, i| %>
  <div class="ship">
  
    <% if i == 1 %>
        <p>Ship Name: <%= ship.name %></p><br>
        <p>Ship Type: <%= ship.type %></p><br>
        <p>Ship Booty: <%= ship.booty %></p><br>
        
    <% end %>
  </div><br>
<% end %>



