<h1>Display your Pirate here</h1>
  <p><%= @pirate.name  %></p>   
  <p><%= @pirate.weight  %></p> 
  <p><%= @pirate.height  %></p> 

<h2>Display your first ship here</h2>
  <p><%= @ship_1.name  %></p>   
  <p><%= @ship_1.type  %></p> 
  <p><%= @ship_1.booty  %></p>

<h2>Display your second ship here</h2>
  <p><%= @ship_2.name  %></p>   
  <p><%= @ship_2.type  %></p> 
  <p><%= @ship_2.booty  %></p>