<h1>Pirates</h1>

<div class="pirate">
  <h3>Name: <%= @pirate.name %></h3><br>
  <h4>Weight: <%= @pirate.weight %> pounds</h4><br>
  <h4>Height: <%= @pirate.height %> inches</h4>
</div><br>

<h1>Ships</h1>

<div class="ships">
<% counter = 0 
    while counter > 0
    @ships.each do |ship| %>
  <div class="ship">
  <h2>Name: <%= ship.name %></h2><br>
    <p>Type: <%= ship.type %></p><br>
    <p>Booty: <%= ship.booty %></p>
  </div><br>
  <% counter+=1 %>
<% end %>
