<h2>Pirate</h2>
Pirate: <%= @pirate[:pirate][:name] %><br>
Height: <%= @pirate[:pirate][:height] %><br>
Weight: <%= @pirate[:pirate][:weight] %><br>

<h2>Ship 1</h2>
Name: <%= @pirate[:pirate][:ships][0][:name] %><br>
Type: <%= @pirate[:pirate][:ships][0][:type] %><br>
Booty: <%= @pirate[:pirate][:ships][0][:booty] %><br>

<h2>Ship 2</h2>
Name: <%= @pirate[:pirate][:ships][1][:name] %><br>
Type: <%= @pirate[:pirate][:ships][1][:type] %><br>
Booty: <%= @pirate[:pirate][:ships][1][:booty]%><br>