
<h1>Pirate Name: <%= @pirate.name %></h1>
<h2>Height: <%= @pirate.height %></h2>
<h2>Weight: <%= @pirate.weight %></h2>
<br>
<h1> Ships </h2>
<% @ships.each do |ship| %>
<h2>Name: <%= ship.name %></h2>
<h2>Type: <%= ship.type %></h2>
<h2>Booty: <%= ship.booty %></h2><br>
<% end %>
