<h1>Pirate Info:</h1>
<h3>Name: <%= @pirate_data["pirate"]["name"] %></h3>
<h3>Weight: <%= @pirate_data["pirate"]["weight"] %></h3>
<h3>Height: <%= @pirate_data["pirate"]["height"] %></h3>


<h2>First Ship Info</h2>
<h3>Name: <%= @pirate_data["pirate"]["ships"][0]["name"] %></h3>
<h3>Type: <%= @pirate_data["pirate"]["ships"][0]["type"] %></h3>
<h3>Booty: <%= @pirate_data["pirate"]["ships"][0]["booty"] %></h3>


<h2>Second Ship Info</h2>
<h3>Name: <%= @pirate_data["pirate"]["ships"][1]["name"] %></h3>
<h3>Type: <%= @pirate_data["pirate"]["ships"][1]["type"] %></h3>
<h3>Booty: <%= @pirate_data["pirate"]["ships"][1]["booty"] %></h3>
