<h1>Name: <%=@pirate.name%></h1>
<h2>Height: <%=@pirate.height%></h2>
<h2>Weight: <%=@pirate.weight%></h2>

<p><% @ships.each_with_index do |ship, i| %></p>
<p>Ship Number. <%= i+1 %></p>
<p>Name: <%= ship.name %></p>
<p>Type: <%= ship.type %></p>
<p>Booty: <%= ship.booty %></p>
<%end%>
