<h1>Pirate</h1>
  <h2>Name: <%= @pirate.name %></h2>
  <h2>Height: <%= @pirate.height %></h2>
  <h2>Weight: <%= @pirate.weight %></h2>

<h2>Ship(s)</h2>
  <h3><% @ships.each do |ship| %> </h3>

  <h3>Name: <%= ship.name %> </h3>
  <h3>Type: <%= ship.type %> </h3>
  <h3>Booty: <%= ship.booty %> </h3>

  <h3><% end %> </h3>


