<h2>Pirate</h2>

  <div >
    Name: <%= @pirate.name %><br>
    Weight: <%= @pirate.weight %> <br>
    Height: <%= @pirate.height %>
  </div>
  <br>


<h2>Ship here</h2>

<div >

  <% @ships.each do |ship| %>
    Name: <%= ship.name %> <br>
    Type: <%= ship.type %> <br>
    Booty: <%= ship.booty %> <br>
    <br>
    <% end %>
</div>
