<h1>Pirate Info</h1>
  <p>Pirate Name: <%= @pirate.name %>
  <p>Pirate Weight: <%= @pirate.weight %>
  <p>Pirate Height: <%= @pirate.height %>

<h2>Ship 1 Info</h2>
  <p>Ship 1 Name: <%= @ships[0].name %></p>
  <p>Ship 1 Type: <%= @ships[0].type %></p>
  <p>Ship 1 Booty: <%= @ships[0].booty %></p>

  <h2>Ship 2 Info</h2>
    <p>Ship 2 Name: <%= @ships[1].name %></p>
    <p>Ship 2 Type: <%= @ships[1].type %></p>
    <p>Ship 2 Booty: <%= @ships[1].booty %></p>
