<h1> ----- Pirate Info ----- <h1>
<h2>Name: <%= @pirate.name %></h2>
<br>
<h2>Weight: <%= @pirate.weight %></h2>
<br>
<h2>Height: <%= @pirate.height %></h2>
<br>
<h1> ----- Pirate Ship 1 ----- </h1>
<h2>Name: <%= @first_ship.name %></h2>
<br>
<h2>Type: <%= @first_ship.type %></h2>
<br>
<h2>Booty: <%= @first_ship.booty %></h2>
<br>
<h1> ----- Pirate Ship 2 ----- </h1>
<h2>Name: <%= @second_ship.name %></h2>
<br>
<h2>Type: <%= @second_ship.type %></h2>
<br>
<h2>Booty: <%= @second_ship.booty %></h2>