<!DOCTYPE html>
<html>
	<head>
		<title>New Pirate</title>
	</head>
	<body>

		<h1>New Pirate:</h1>

		<div class="pirate">
			<p>Pirate Name: <%= @pirate.name %></p>
			<p>Pirate Weight: <%= @pirate.weight %></p>
			<p>Pirate Height: <%= @pirate.height %></p>
		</div>

		<h2>New pirate's ships</h2>
		<% @ships.each do |ship| %>
				<div class="ship">
					<p>Ship name: <%= ship.name %></p>
					<p>Ship type: <%= ship.type %></p>
					<p>Ship booty: <%= ship.booty %></p>
				</div>
		<% end %>

	</body>
</html>
