<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>
    <h1>Pirate Attributes</h1>
    Name: <%= @pirate.name %><br>
    Weight: <%= @pirate.weight%><br>
    Height: <%= @pirate.height%><br>
  </p>

    <p>
      <h2>Pirate Ships:</h2>
      <% @ships.each_with_index do |ship, idx| %>
        <%= "Ship #{idx+1}:" %><br>
        <% ship.instance_variables.each do |ivar_name| %>
          <%= "#{ivar_name[/[^@].*/]}: #{ship.instance_variable_get ivar_name}" %><br>
        <% end %>
        <br>
      <% end %>
    </p>

  </body>
</html>
