<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Display your Pirate here</h1>
  <h2>Pirate Name: <%= @pirate.name %></h2>
  <h2>Pirate Weight: <%= @pirate.weight %></h2>
  <h2>Pirate Height: <%= @pirate.height %></h2>

  <h2>Ships</h2>
  <ul>
    <% @pirate.ships.each_with_index do |ship, index| %>
    
      <li><%= ship.id %>.</li>  
      <ul>
        <li>Ship Name: <%= ship.name %></li>
        <li>Ship Category: <%= ship.category %></li>
        <li>Ship Booty: <%= ship.booty %></li>
      </ul>  
      <% end %>
  </ul>  


</body>
</html>
