<h1>Display your Pirate here</h1>
<p>Pirate's Name: <%= @pirate.name %> </p>
<p>Pirate's Weight: <%= @pirate.weight %> </p>
<p>Pirate's Height: <%= @pirate.height %> </p>

<h2>Display your first ship here</h2>
    <p>First Ship's Name: <%= @ships[0].name %> </p>
    <p>First Ship's Type: <%= @ships[0].type %> </p>
    <p>First Ship's Booty: <%= @ships[0].booty %> </p>

<h2>Display your second ship here</h2>
  <p>Second Ship's Name: <%= @ships[1].name %> </p>
  <p>Second Ship's Type: <%= @ships[1].type %> </p>
  <p>Second Ship's Booty: <%= @ships[1].booty %> </p>
