
<h1>Pirate name: <%= @pirate.name %></h1>
<h1>Pirate weight: <%= @pirate.weight %></h1>
<h1>Pirate height: <%= @pirate.height %></h1>

<% @ships.each_with_index do |ship, index| %>
  <h2>Ship <%= index +1 %> name: <%= ship.name %></h2>
  <h2>Ship <%= index +1 %> type: <%= ship.type %></h2>
  <h2>Ship <%= index +1 %> booty: <%= ship.booty %></h2>
<% end %>
