<h1>Pirate: </h1>
  <div class="pirate">
    <h3>Pirate's Name: <%=@pirate.name%></h3>
    <h4>Pirate's Weight: <%=@pirate.weight%></h4>
    <h4>Pirate's Height: <%=@pirate.height%></h4>
  </div>
  <div class="ship">
    <% @all_ships.each do |ship| %>
        <h4>Ship's Name: <%=ship.name%></h4>
        <h4>Ship's Type: <%=ship.type%></h4>
        <h4>Ship's Booty: <%=ship.booty%></h4>
    <% end%>
  </div>
