<h1><%= @pirate.name %></h1>
<hr>
<p>Weight: <%= @pirate.weight %></p>
<p>Height: <%= @pirate.height %></p>


<% @ships.each do |ship| %>
  
  <h1> <%= ship.name %></h1>
  <hr>
  <p>Type: <%= ship.type %></p>
  <p>Booty: <%= ship.booty %></p>

<% end %>
