
<h1> Pirate</h1>
<div class = "pirate">

<p>Pirate Name: <%=@pirate.name%></p>
<p>Pirate Weight: <%=@pirate.weight%>  lbs  </p>
<p>Pirate Height: <%=@pirate.height%>  inches  </p>
</div><br>

<h1>Ship(s)</h1>
<%@ships.each do |ship| %>
<div class = "ship">
  <p>Name: <%= ship.name%></p>
  <p>Type: <%= ship.type%></p>
  <p>Booty: <%= ship.booty%></p>
 </div><br>
 <%end%>
