<h1>Pirates</h1>

<div class="pirates">
<p>Pirate Name: <%= @pirate.name %></p>
<p>Pirate Height: <%= @pirate.height %></p>
<p>Pirate Weight: <%= @pirate.weight %> lbs.</p>
</div><br>



<h1>Ships</h1>
<% @ships.each do |ship| %>
  <div class="ship">
<p>Name: <%= ship.name %></p>
<p>Type: <%= ship.type %></p>
<p>Booty: <%= ship.booty %></p>
</div><br>
<%end%>
