<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirates be Here, Arrr....</title>
  </head>
  <body>
    <h1>Arrr...  The pirate skallywag's name be....<%= @new_pirate.name %>
    and he be weighing a stout <%= @new_pirate.weight %>
     and be standing <%= @new_pirate.height %> tall.</h1>

    <h2> Here be the ships under his command...
      <% @Ships.each do |ship| %>
        <div class="ship">
          <br>
          <p> The <%= ship.name %> </p>
          <p> she be a <%= ship.type %> </p>
          <p> and she carrys <%= ship.booty %>  
          </p>
        </div>
      <% end %>
    </h2>
  </body>
</html>



