<h1>Display your Pirate here</h1>

<p>pirate name: <%= @pirate.name %></p>
<p>pirate weight: <%= @pirate.weight %></p>
<p>pirate height: <%= @pirate.height %></p>

<h2>Display your first ship here</h2>

<p>ship 1 name: <%= @ship1.name %></p>
<p>ship 1 type: <%= @ship1.type %></p>
<p>ship 1 booty: <%= @ship1.booty %></p>

<h2>Display your second ship here</h2>

<p>ship 2 name: <%= @ship2.name %></p>
<p>ship 2 type: <%= @ship2.type %></p>
<p>ship 2 booty: <%= @ship2.booty %></p>
