<h1>Pirate</h2>
<h2>Pirate Name:<p> <%= "#{@pirate.name}" %> </p></h2>
<h3>Pirate Weight:<p> <%= "#{@pirate.weight}" %> </p></h3>
<h3>Pirate Height:<p> <%= "#{@pirate.height}" %> </p></h3>


<h1>Ship 1</h1>
<h2>Name:<p><%= "#{@ship_1.name}" %></p></h2>
<h3>Type:<p><%= "#{@ship_1.type}" %></p></h3>
<h3>Booty:<p><%= "#{@ship_1.booty}" %></p></h3>


<h1>Ship 2 </h1>
<h2>Name:<p><%= "#{@ship_2.name}" %></p></h2>
<h3>Type:<p><%= "#{@ship_2.type}" %></p></h3>
<h3>Booty:<p><%= "#{@ship_2.booty}" %></p></h3>
