<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Pirate Info</h1>
      <h3><%= @pirate.name %></h3>
      <h3><%= @pirate.weight %></h3>
      <h3><%= @pirate.height %></h3>

    <h2>Ship 1</h2>
    <h3><%= @pirateships[0].name %></h3>
    <h3><%= @pirateships[0].type %></h3>
    <h3><%= @pirateships[0].booty %></h3>

    <h2>Ship 2</h2>
    <h3><%= @pirateships[1].name %></h3>
    <h3><%= @pirateships[1].type %></h3>
    <h3><%= @pirateships[1].booty %></h3>
  </body>
</html>
