<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pirates be Here, Arrr....</title>
  </head>
  <body>
    <h1>Arr...The pirate be named <%= @new_pirate.name %> <br>and he is hefty scallywag weighing in at <%= @new_pirate.weight %>. <br> A tall one he be at <%= @new_pirate.height %></h1>


    <h2>Display your first ship here</h2>


    <h2>Display your second ship here</h2>

    <h2>Ships <br>
      <% @Ships.each do |ship| %>
        <div class="ship">
          <p>Name:      <%= ship.name %></p><br>
          <p>Ship Type: <%= ship.type %></p>
          <p>Booty:     <%= ship.booty %>  
          </p><br>
        </div><br>
      <% end %>
    </h2>
  </body>
</html>


