<body>
<h1>Pirate Info:</h1>
  <p>Pirate Name: <%=@pirate.name%></p>
  <p>Pirate Weight: <%=@pirate.weight%></p>
  <p>Pirate Height: <%=@pirate.height%></p>

<h2>Ship 1 Info:</h2>
  <p>Ship Name: <%=@ship_1.name%></p>
  <p>Ship Type: <%=@ship_1.type%></p>
  <p>Ship Booty: <%=@ship_1.booty%></p>


<h2>Ship 2 Info:</h2>
  <p>Ship Name: <%=@ship_2.name%></p>
  <p>Ship Type: <%=@ship_2.type%></p>
  <p>Ship Booty: <%=@ship_2.booty%></p>
</body>