<!DOCTYPE html>
<html>
<head>
  <title>Pirate & Ship Display</title>
</head>
  <body>
    <h1>Pirate details:</h1> 
        <h2><p>Pirate Name:         <%=@pirate_name%></p></h2>
        <h2><p>Pirate Weight:       <%=@pirate_weight%></p></h2>
        <h2><p>Pirate Height:       <%=@pirate_height%></p></h2>
        <br>
    <h1>Ship 1 details</h1>         
        <h2><p>Ship1 Name:          <%=@ship_name_1%></p></h2>
        <h2><p>Ship1 Type:          <%=@ship_type_1%></p></h2>
        <h2><p>Ship1 Booty:         <%=@ship_booty_1%></p></h2> 
        <br>
    <h1>Ship 2 details:</h1>
        <h2><p>Ship2 Name:          <%=@ship_name_2%></p></h2>
        <h2><p>Ship2 Type:          <%=@ship_type_2%></p></h2>
        <h2><p>Ship2 Booty:         <%=@ship_booty_2%></p></h2>          
        <br>
 

  </body>
</html>